.Container{
    width: 800px;
    height: 600px;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-left: 20%;
}
.Ellipse31 {
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-left: 0px;
}

.Ellipse32 {
    width: 120px;
    height: 120px;
    margin-left: 680px;
    margin-top: 358px;
    margin-right: 0px;

}

.rectangle {
    width: 650px;
    height: 500px;
    /* border: 3px solid #ccc; */
    margin-top: -560px;
    margin-left: 70px;
    border-radius: 10px;
    background-color: #CEF3FF;

}

.rectangle>.details>img {
    width: 70px;
    height: 60px;
    margin-left: 21%;
    margin-top: 10px;
}

.details {
    margin-top: 20px;
    margin-left: 200px;
}

input {
    height: 35px;
    width: 250px;
    border-radius: 4px;
    background-color: silver;
    border: none;
    color: silver;
    background-color: white;
    font-weight: bolder;


}

h3 {
    margin-left: 12%;
  
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: black;
}
.button1{
    width:280px;
    height:40px;
    margin-left: -10px;
    background-color:white;
    color:black;
    font-weight: bolder;
    border-radius: 6px;
    border:1px solid #ccc;
    cursor: pointer;
}
.button2{
    width:280px;
    height:40px;
    margin-left: -10px;
    background-color: white;
    color:black;
    font-weight: bolder;
    border-radius: 6px;
    border:1px solid #ccc;
    cursor: pointer;
    margin-top: 15px;
}
.button1:hover{
    background-color:blueviolet;
}
.button2:hover{
    background-color:blueviolet;
}
.Dots > img{
    width:90px;
    height: 90px;
    position:absolute;
    margin-left: -190px;
    margin-top: 80px;
}
.Dots1 > img{
    width:90px;
    height: 90px;
    position:absolute;
    margin-left: 348px;
    margin-top: -320px;
  
}
h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
margin-left: 80px;
padding-top: 12px;
color:blueviolet;
}
.details{
    margin-top:40px;
}
h4{
    margin-left: -2%;
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: black;
}